{% extends 'basearticles.html.twig' %}

{% block title %}Liste articles{% endblock %}

{% block body %}
<div class="jumbotron text-center"><br><br>
    <h1>
        Liste des articles
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non nesciunt ducimus distinctio nostrum? Doloribus temporibus eum nulla doloremque maxime rem eveniet repellendus a deserunt velit dolorum unde tempore voluptatibus minus quidem, mollitia hic saepe? Reprehenderit cum ipsam quaerat modi recusandae.</p>
    
</div>
<div class="container">
    <h2>Derniers articles</h2><br>
    <div class="row flex">
        {% for article in articles %}
       {#<pre>
            {{ dump(article) }}
        </pre>#} 
            <div class="col-sm-12 col-md-6 col-lg-3"><br>
                <div class="card  mb-4">
                    <div class="card-body">
                        <strong>Catégorie : {{article.category}}</strong>
                        <h5 class="card-title">
                             {{article.title|nl2br}}
                        </h5>
                        <p class="card-text">{{article.mini_content }}</p>
                        <small class="text-muted"><em>de la part de : {{article.pseudo}}</em></small>
                        <small class="text-muted"><em>le : {{article.creation_date_fr}}</em></small>
                        <div class="btn-group center">
                            <a href="index.php?action=getArticle&amp;id={{article.id}}"><button type="button" class="btn btn-sm btn-outline-secondary">Lire la suite...</button></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}