{% extends 'baseAdmin.html.twig' %}

{% block title %}Liste articles{% endblock %}

{% block body %}
<div class="articlewrite">
    
    <br/>
    <h3><a href="index.php?action=writeArticleDisplay">Accueil admin</a></h3>
    <h3><a href="index.php?action=listArticlesAdmin">Articles</a></h3>
    <h3><a href="index.php?action=listUsersAdmin">Commentaires à valider</a></h3>
    
    <br/>

<div class="container">
    <h2>Derniers articles</h2><br>
    <div class="row flex">
        {% for article in articles %}
       {#<pre>
            {{ dump(article.content) }}
        </pre>#} 
            <div class="col-3"><br>
                <div class="card">
                    <div class="card-body">
                        <strong>Catégorie : {{article.category}}</strong>
                        <h5 class="card-title">
                             {{article.title|nl2br}}
                        </h5>
                        <p class="card-text">{{article.mini_content }}</p>
                        <p class="card-text">{{article.content|striptags|raw }}</p>
                        <div class="btn-group">
                            <a href="index.php?action=editArticleAdmin&amp;id={{article.id}}"><button type="button" class="btn btn-sm btn-outline-danger">Modifier</button></a>&nbsp;&nbsp;
                            <a href="index.php?action=confirmdeletearticle&amp;id={{article.id}}"><button type="button" class="btn btn-sm btn-outline-success">Supprimer</button></a>
                         </div><br>
                        <small class="text-muted"><em>De la part de : {{article.pseudo}}</em></small><br>
                        <small class="text-muted"><em>Créé le : {{article.creation_date_fr}}</em></small><br>
                        {% if article.update_date_fr %}
                        <small class="text-muted"><em>Modifié le : {{article.update_date_fr}}</em></small>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}