{% extends 'baseAdmin.html.twig' %}

{% block title %}Liste articles{% endblock %}

{% block body %}
<div class="articlewrite">
    <br />
    <h3><a href="index.php?action=writeArticleDisplay">Accueil admin</a></h3>
    <h3><a href="index.php?action=listArticlesAdmin">Gestion des articles</a></h3>
    <h3><a href="index.php?action=listCommentsAdmin">Gestion des commentaires</a></h3>
    <h3><a href="index.php?action=listUsersAdmin">Gestion des membres</a></h3>
    <br>
    <div class="container mt-4">
        <h2>Articles :</h2><br><br><br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Catégorie</th>
                    <th>Chapô</th>
                    <th>Contenu</th>
                    <th>Auteur</th>
                    <th>Date de création</th>
                    <th>Date de modification</th>
                    <th>Validation</th>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
            <tr>
                <td>{{article.category}}</td>
                <td>{{article.mini_content}}</td>
                <td>{{article.content|striptags|raw}}</td>
                <td>{{article.pseudo}}</td>
                <td>{{article.creation_date_fr}}</td>
                <td>{{article.update_date_fr}}</td>
                <td>{{article.valid}}</td>
                <td>
                    <a href="index.php?action=editArticleAdmin&amp;id={{article.id}}"><button type="button" class="btn btn-sm btn-outline-success">Modifier</button></a>
                </td>
                <td>
                    <a href="index.php?action=validArticle&amp;id={{article.id}}"><button type="button" class="btn btn-success">Valider</button></a>
                </td>
                <td>
                    <a href="index.php?action=confirmdeletearticle&amp;id={{article.id}}"><button type="button" class="btn btn-sm btn-outline-danger">Supprimer</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div><br><br>
</div>
{% endblock %}