{% extends 'baseprofil.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

<div class="jumbotron text-center"><br><br>
   <h1>
        Modifie le profil de : {{user.pseudo}} 
    </h1>
</div><br>
<div class="container-fluid">
    <div class="row justify-content-center text-center">
        <div class="col-6"><br>
                <div class="  card mb-4">
                    <form method="POST" action="index.php?action=getAvatar" enctype="multipart/form-data">
                     <div class="form-group">
                        <label>Ajouter une photo de profil : </label>
                     </div>
                  <div class="form-group">
                     <input type="file" name="avatar"><br><br>
                     <a href="index.php?action=getAvatar&amp;id={{session.id}}"><button type="submit" name="getAvatar"class="btn btn-success">Ajouter une photo</button></a>
                  </div>
               </form>
               <form method="POST" action="index.php?action=updateUserPseudo">
                  <div class="form-group">
                     <label>Pseudo :</label>
                     <input type="text" name="newpseudo" placeholder="Pseudo" value="{{session.pseudo}}" />
                     <a href="index.php?action=updateUserPseudo&amp;id={{session.id}} ?>"><button type="submit" name="updateUserPseudo"class="btn btn-success">Je modifie mon Pseudo</button></a><br><br>
                  </div>
               </form>
               <form method="POST" action="index.php?action=updateUserMail">
                  <div class="form-group">
                     <label>Mail :</label>
                     <input type="text" name="newmail" placeholder="Mail" value="{{session.mail}}" />
                     <a href="index.php?action=updateUserMail&amp;id={{session.id}}"><button type="submit" name="updateUserMail"class="btn btn-success">Je modifie mon Mail</button></a><br><br>
                  </div>
               </form>
               <form method="POST" action="index.php?action=updateUserpwd">
                  <div class="form-group">
                     <label>Mot de passe :</label>
                     <input type="password" name="newpwd" placeholder="Mot de passe" value="password"/>
                     <a href="index.php?action=updateUserpwd&amp;id={{session.id}}"><button type="submit" name="updateUserpwd"class="btn btn-success">Je modifie mon Mot de passe</button></a><br><br>
                  </div>
               </form>
            </div>
        </div>
    </div>
</div><br><br>
{% endblock %}











